.l_content{
  float:left;
  width:750px;
  margin-top:20px;
  background: url("../image/line.jpg") repeat-y right center;
  background-size: 8px;
}
.publish{
  padding:20px 0;
}
.publish h3{
  font-size: 15px;
  font-weight: bold;
}
.publish p{
  color:#696969;
  font-size: 12px;
}
.content_main{
  overflow: hidden;
}
.left{
  float:left;
}
.right{
  float:left;
  width:400px;
  padding-left:30px;
}
.r_new{
  margin-top: 10px;
}
.r_new h3{
  background: url("../image/r_title_bg.jpg") repeat-x center;
  font-size: 15px;
}
.r_new p{
  width: 70px;
  background-color:white;
  padding-right:10px;
}
