li{
  list-style: none;
}
@media screen and (max-width:430px){
  #banner{
    display:none;
  }
  #anticle{
    width:100%;
    margin:10px auto;
    overflow: hidden;
  }
}
@media screen and (min-width:430px){
  #banner{
    background: url("../image/banner_top.jpg") no-repeat;
    background-size: 1300px 230px;
    height:265px;
  }
  #anticle{
    width:1000px;
    margin:20px auto;
    overflow: hidden;
  }
}
.banner_all{
  width:1000px;
  margin:auto;
  overflow: hidden;
}
.banner_text{
  width:350px;
  float:left;
  margin:60px 0 0 20px;
  font-size: 14px;
  color:white;
}
.myInfor{
  float:right;
  margin:40px;
  width:130px;
  height:130px;
  overflow: hidden;
  border:solid 4px white;
  border-radius: 100%;
  transition: all .5s ease-in-out;
}
.myInfor:hover{
  transform:rotate(360deg);
}
.myInfor:hover .name{
  margin-top: 0px;
}
.myInfor a{
  background: url("../image/head.jpg");
  display:block;
  width:130px;
  padding-top:93px;
  background-size: 130px 130px;
}
.myInfor a span{
  display:block;
  width:130px;
  height:55px;
  padding-top: 8px;
  margin-top:63px;
  background: rgba(0,0,0,.5);
  text-align: center;
  transition: all .2s ease-in-out;
  color:white;
}
.visitor{
  font-size: 12px;
  color:grey;
  margin-bottom: 20px;
}
.vis{
  font-size: 15px;
  color:red;
}
a{
  text-decoration: none;
  cursor: pointer;
}
.des_resolve{
  padding-left:40px;
  font-weight: bold;
  color:purple;
  font-size: 13px;
  margin-bottom: 10px;
}
.an_title{
  width：1000px;
  font-weight: bold;
  background: url("../image/line.jpg") repeat-x 20px;
}
.an_title span{
  color:purple;
}
.an_title h2{
  background: white;
  font-size: 18px;
  width:90px;
}
.an_l_title{
  margin-top: 30px;
}
.an_l_title h3{
  display:inline-block;
  font-size: 15px;
  font-weight:bold;
}
.an_l_title span{
  background: url("../image/new.gif") no-repeat center ;
  padding-left:50px;
}
.an_l_body{
  margin-top:10px;
  margin-bottom:10px;
  overflow: hidden;
}
.an_l_body a{
  float:left;
}
.an_l_body a img{
  padding:4px;
  width:175px;
  height:100px;
  transition: all 0.5s ease-out;
}
.an_l_body a img:hover{
  transform: scale(1.05,1.05);
}
.an_l_body .content{
  float:left;
  padding:15px;
  color:#756F71;
  font-size: 15px;
  line-height: 20px;
  height:40px;
}
.an_l_foot{
  width:680px;
  background-color: rgb(230,230,230);
  font-size: 12px;
  color:#838383;
}
.an_l_foot p{
  padding:10px;
}
.an_l_foot span{
  padding-right:15px;
}
.more{
  display:none;
}
.blank{
  margin:10px auto;
  background: url("../image/r_title_bg.jpg") repeat-x center;
  color:#756f71;
  font-weight: bold;
  font-size: 14px;
}
.blank p{
  width:80px;
  background-color: white;
  padding:0;
}
.title_index1{
  max-height: 270px;
  list-style: none;
  background: url("../image/ph.jpg") no-repeat left 8px;
  overflow: hidden;
}
.title_index1 li{
  height:30px;
  line-height: 33px;
  border-bottom:1px #CCC dotted;
  padding-left:24px;
  font-size: 12px;
}
.title_index1 li a{
  color:black;
}
.title_index{
  list-style: none;
}
.title_index li{
  background: url("../image/li.jpg") no-repeat left center;
  padding-left:15px;
  height:25px;
  line-height: 25px;
  font-size: 12px;
}
.title_index li a{
  color:black;
}
.title_index li span{
  float:right;
  color:grey;
}
.mymargin{
  margin:30px 20px;
}
.reivew{
  margin:20px;
  border:1px solid #e74851;
  border-radius:3px;
}
.review_content{
  border:none;
  padding:20px 0px 0px 10px;
  width:90%;
  resize: none;
  height:80px;
}
.review_name{
  float: left;
  margin-top:30px;
  width:200px;
}
.review_name input{
  width:80px;
}
.re_btn{
  margin-top:30px;
  float:right;
  height: 30px;
  width:100px;
  cursor: pointer;
  background:url("../image/btn.png") no-repeat;
}
.loadReview{
  margin: 100px 20px 0 20px;
  color:#e74851;
}
.review_title{
  padding-bottom: 4px;
  border-bottom: 1px solid #e74851;
}
.review_title span{
  font-size: 15px;
  padding:5px;
  border:1px solid #e74851;
  border-radius: 10px;
  border-bottom: none;
}
.review_number{
  float:right;
}
.review_number i{
  font-size: 20px;
  padding-right:3px;
}
.showReview{
  margin:50px 20px 0 20px;
  padding-bottom: 30px;
  border-bottom: 1px dotted grey;
}
.reviewName{
  color:#e74851;
  font-size:15px;
}
.reviewTime{
  float:right;
  color:grey;
  font-size:12px;
}
.showContent{
  font: 12px "宋体", Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 430px){
  .an_left{
    margin: auto;
    width:98%;
    background: url("../image/line.jpg") repeat-y  right center ;
    background-size: 7px;
  }
  .an_right{
    width:98%;
    margin: auto;
  }
  .wrap {
    display: none;
    width: 10px;
  }
  #container{
    display: none;
  }
  .box{
    display: none;
  }
  .read{
    float:right;
    background: #fd8a61;
    color:white;
    font-size: 12px;
    cursor:pointer;
    padding:5px 10px;
    margin-right:60px;
  }
}

@media screen and (min-width: 430px){
  .an_left{
    float:left;
    width:740px;
    background: url("../image/line.jpg") repeat-y  right center ;
    background-size: 7px;
  }
  .an_right{
    float:right;
    width:250px;
  }
  .wrap{
    position:relative;
    margin:20px auto ;
    width:100px;
    perspective: 900px;
    min-height:50px;
    font-size: 15px;
  }
  #container{
    position:absolute;
    left:90%;
    margin-left:-102px;
    height:50px;
    width:100px;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    transform:rotateY(0deg)
  }
  .box{
    position:absolute;
    bottom: 0;
    width:100px;
    height:50px;
    line-height: 50px;
    text-align: center;
    font-size:13px;
    color:white;
  }
  .demo1{background-color:blue;transform:rotateY(0deg) translateZ(80px);}
  .demo2{background-color:green;transform:rotateY(72deg) translateZ(80px)}
  .demo3{background-color:orange;transform:rotateY(144deg) translateZ(80px)}
  .demo4{background-color:grey;transform:rotateY(216deg) translateZ(80px)}
  .demo5{background-color:purple;transform:rotateY(288deg) translateZ(80px)}
  .my_body{
    height:690px;
    overflow: hidden;
  }
  .read{
    float:right;
    background: #fd8a61;
    color:white;
    font-size: 12px;
    cursor:pointer;
    padding:5px 10px;
    margin-top:80px;
    margin-right:60px;
  }
}
